body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .page {
    height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .page-enter {
    opacity: 0;
  }
  .page-enter-active {
    opacity: 1;
  }
  .page-exit-active {
    opacity: 0;
  }
  .ColorBox{
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 25%;
    height:150px;
  }
  .copy-button{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 30px;
    margin-left: -50px;
    margin-top: -15px;
    text-align: center;
    outline: none;
    background: rgba(255,255,255,0.3);
    border: none;
    color: #fff;
    line-height: 30px;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: sans-serif;
    opacity: 0;
  }
  .see-more{
    position: absolute;
    right: 0;
    bottom: 0;
    background: black;
    padding: 1px;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  .color-title{
    position: absolute;
    bottom: 0;
    font-size: 12px;
    padding: 0 4px 2px;
    font-family: sans-serif;
  }
  .ColorBox:hover .copy-button{
    opacity: 1;
    transition: 0.6s;
  }
  .box-content{
    padding: 8px;
  }